body{
  margin: 0;
  padding: 0;

  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}
@font-face {
  font-family: "PTSans";
  font-weight: normal;
  src: url("../fonts/web/ptsans.woff");
  src: url("../fonts/web/ptsans.woff2");
}
@font-face {
  font-family: "PTSans";
  font-weight: bold;
  src: url("../fonts/web/ptsansbold.woff");
  src: url("../fonts/web/ptsansbold.woff2");
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 72px;
}
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  margin-bottom: -21px;
}
.header .list-menu-left,
.header .list-menu-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-right: 48px;
  width: 44%;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .list-menu-right {
  margin-right: 0;
  margin-left: 48px;
}
.header .item-menu-right,
.header .item-menu-left {
  padding-right: 5px;
}
.header .link-item-menu {
  text-decoration: none;
  color: #000;
}
.header .link-item-menu-current {
  text-decoration: none;
  color: #766357;
}
.header .link-item-menu:hover,
.header .link-item-menu:focus {
  color: #81b3d2;
  outline: none;
}
.header .link-item-menu:active {
  color: rgba(0,0,0,0.3);
  outline: none;
}
.header .linck-logo {
  display: block;
  width: 12%;
  text-decoration: none;
}
.logo-poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;

  background-color: #6d99c0;
  background-image: url("../img/intro.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  background-position: 0 -56px;
}
.logo-poster .slogan {
  margin: 0;
  margin-top: 569px;
  margin-bottom: 26px;
  padding: 0;
  width: 450px;

  font-size: 21px;
  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;
  text-align: center;
}
.logo-poster .text {
  color: #333;
  font-size: 14px;
  font-family:  "PTSans","Arial", sans-serif;
  font-weight: normal;
}
.features {
  position: absolute;
  top: 256px;
}
.features .list-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  background-color: #fff;
}
.features .item-feature {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%/3);
  padding-top: 159px;
  padding-bottom: 78px;
  padding-left: 45px;
  padding-right: 46px;
}
.features .item-feature::before {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 79px;
  height: 77px;

  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}
.features .food::before {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}
.features .present::before {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}
.features .name-feature {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
}
.features .description-feature{
  margin: 0;
  padding: 0;

  color: #333;
  width: 309px;
  line-height: 24px;
  text-align: center;
}
.advantages .list-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages .item-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100%/3);
  padding: 46px;
  padding-bottom: 57px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #eeeeee;
}
.advantages .name-advantage {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  width: 151px;

  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
  line-height: 22px;
  text-align: center;
}
.advantages .namber-advantage {
  font-weight: normal;
  padding: 0;
  margin: 0;

  text-align: center;
}
.advantages .description-advantage {
  padding: 0;
  margin: 0;
  width: 282px;
  margin-top: 17px;

  line-height: 23px;
  text-align: center;
  font-weight: normal;
}
.img-advantage-first,
 .img-advantage-second {
  width: calc(100%/3*2);

  background-image: url("../img/Layer3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #81b3d2;
}
.img-advantage-first {
  background-color: #6d99c0;
  background-image: url("../img/Layer2.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.advantages .item-advantage:first-child,
.advantages .item-advantage:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0;
  width: 100%;

  background-color: #81b3d2;
}
.advantages .item-advantage:first-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 328px;
}
.advantages .side-advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 46px;
  margin-bottom: 58px;
  padding: 0;
  width: calc(100%/3);

  color: #fff;
}
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 51px;
}
.search .question {
  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}
.search .search-help {
  width: 399px;
  margin: 0;
  margin-top: 22px;
  margin-bottom: 46px;
  padding: 0;

  text-align: center;
  font-family:  "PTSans","Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.search .search-btn {
  border: 0;
  padding: 31px 139px;

  font-size: 21px;
  line-height: 26px;
  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;

  background-color: #766357;
}
.search .search-btn:hover,
.search .search-btn:focus {
  background-color: #604e43;
  color: #d5d0cd;
  outline: none;
}
.search .search-btn:active {
  background-color: #503e33;
  color: #857871;
  outline: none;
}
.search-popup {
  display: none;
  width: 568px;
  height: 395px;
  position: absolute;
  top: 291px;
  z-index: 3;
  background-color: #fff;
  -webkit-box-shadow: 0px 7px 62px 7px rgba(0,0,0,0.15);
          box-shadow: 0px 7px 62px 7px rgba(0,0,0,0.15);
}
.search .search-popup-show {
  display: block;
  animation-name: emergence;
  animation-duration: 1s;
}
@keyframes emergence {
  0% {transform: translateX(-2000px); }
  20% {transform: translateX(-200px); }
  40% {transform: translateX(-100px); }
  60% {transform: translateX(-50px); }
  80% {transform: translateX(-20px); }
  100% {transform: translateX(0px); }
}
.search .search-popup-error {
  animation-name: error;
  animation-duration: 2s;
}
@keyframes error {
  0% {transform: translateX(-20px); }
  20% {transform: translateX(20px); }
  40% {transform: translateX(-10px); }
  60% {transform: translateX(10px); }
  80% {transform: translateX(-5px); }
  100% {transform: translateX(5px); }
}
.search-form {
  padding: 54px 55px;
}
.arrival,
.departure {
  position: relative;
  margin: 0;
  padding: 0;
}
.departure {
  margin-top: 29px;
  margin-bottom: 27px;
}
.search-form input[type="text"] {
  padding: 9px;
  width: 345px;
  margin-left: 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #000;
  font-size: 14px;
  line-height: 21px;
  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;

  background-color: #f2f2f2;
  border: 0px solid transparent;
}
.departure input[type="text"] {
  margin-left: 16px;
}
.arrival svg,
.departure svg  {
  position: absolute;
  z-index: 3;
  top: 8px;
  right: 11px;
}
.arrival path,
.departure path {
  fill: #cccccc;
}
.arrival rect,
.departure rect {
  fill: #cccccc;
}
.arrival svg:hover .arrival path,
.arrival svg:hover .arrival rect,
.arrival svg:focus .arrival path,
.arrival svg:focus .arrival rect,
.departure svg:hover .departure path,
.departure svg:hover .departure rect,
.departure svg:focus .departure path,
.departure svg:focus .departure rect {
  fill: #000;
}
.arrival svg:active .arrival rect,
.arrival svg:active .arrival path,
.departure svg:active .departure path,
.departure svg:active .departure rect {
 fill: #81b3d2;
}
.adult,
.child {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;

  vertical-align: middle;
}
.child {
  margin-left: 51px;

}
.adult input[type="number"],
.child input[type="number"] {
  width: 112px;
  margin-left: 37px;
  padding: 9px 0px;

  text-align: center;
  color: #000;
  font-size: 14px;
  line-height: 21px;
  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;

  border: 0px solid transparent;
  background-color: #f2f2f2;
}
 .child input[type="number"] {
  margin-left: 24px;
 }
.minus {
  display: block;
  position: absolute;
  top: 19px;
  left: 126px;
  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}
.child .minus {
  top: 19px;
  left: 80px;

}
.plus-vertical {
  display: block;
  position: absolute;
  top: 19px;
  left: 200px;
  width: 11px;
  height: 3px;

  background-color: #a9a9a9;
}
.child .plus-vertical {
  top: 21px;
  left: 155px;
}
.plus-horizontal {
  display: block;
  position: absolute;
  top: 15px;
  left: 203px;
  width: 3px;
  height: 11px;

  background-color: #a9a9a9;
}
.child .plus-horizontal {
  top: 17px;
  left: 159px;
}
.search-popup-btn {
  margin-top: 55px;
  padding: 16px 195px;

  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family:  "PTSans","Arial", sans-serif;

  background-color: #81b3d2;
  border: 0px solid transparent;
}
.map {
  height: 594px;
  width: 1200px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
}
.map img {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  height: 128px;
  position: absolute;
  z-index: 3;
  left: 0;
  top: -128px;

  background-color: rgba(255,255,255,0.7);
}
.footer .visit {
  margin: 0;
  padding: 0;
  width: calc(100%/3);

  font-size: 21px;
  line-height: 26px;
  font-family:  "PTSans","Arial", sans-serif;
  font-weight: bold;
  padding-left: 131px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer .list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100%/3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.footer .item-social {
  margin-right: 5px;
  padding: 13px 12px
  ;
  background-color: #81b3d2;
}
.footer .item-social:hover,
.footer .item-social:focus {
  background-color: #669ec0;
}
.footer .item-social:active {
  background-color: #5496bd;
}
.footer .item-social::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;

  background-image: url("../img/t.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer .fasbook::before {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
}
.footer .yt::before {
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
}
.footer .item-social:active.tweeter::before {
  background-image: url("../img/t-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer .item-social:active.yt::before {
  background-image: url("../img/youtube-activ.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer .item-social:active.fasbook::before {
  background-image: url("../img/fb-icon-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100%/3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer .linck-copyright {
  margin-left: 6px;
  margin-top: 3px;
}
.footer .linck-copyright:hover path,
.footer .linck-copyright:focus path,
.footer .linck-copyright:hover rect,
.footer .linck-copyright:focus rect {
  fill: #81b3d2;
}
.footer .linck-copyright:active rect,
.footer .linck-copyright:active path {
  fill: #c6c5c5;
}
.footer svg {
  width: 106px;
}
.footer path {
  fill: #000;
}
.footer rect {
  fill: #000;
}
.filter {
  background-color: #6d99c0;
  background-image: url("../img/filter background.png");
}
.filter .filter-form {
  padding-top: 27px;
}
.filter .infrastructure,
.filter .type-of-housing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 488px;
  margin: 0;
  padding-left: 19px;
}
.filter .infrastructure{
  width: 241px;
  padding-left: 0;
}
.filter .infrastructure-name,
.filter .type-of-housing-name {
  margin-bottom: 25px;

  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  font-family:  "PTSans","Arial", sans-serif;
}
.infrastructure label,
.type-of-housing label {
  position: relative;
  margin-bottom: 21px;

  color: #fff;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family:  "PTSans","Arial", sans-serif;
}
.infrastructure input[type="checkbox"],
.type-of-housing input[type="checkbox"] {
  display: none;
}
.infrastructure input[type="checkbox"] + label::before,
.type-of-housing input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 14px;
  border: 2px solid #fff;
}
.infrastructure input[type="checkbox"]:checked + label::after,
.type-of-housing input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 3px;
  width: 15px;
  height: 5px;

  border-radius: 4px;
  border: 4px solid #fff;
  border-top-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cost {
  width: 328px;
  padding-left: 14px;
  margin-top: -2px;
}
.cost .name-cost {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  font-family:  "PTSans","Arial", sans-serif;
}
.cost .border-container {
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  margin-top: 6px;

  border: 2px solid #fff;
}
.cost label {
  display: inline-block;
  width: 151px;

  vertical-align: middle;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family:  "PTSans","Arial", sans-serif;
}
.cost .cost-min {
  width: 156px;
  border-right: 2px solid #fff;
}
.cost input[type="number"]{
  display: none;
}
.cost .img-slider {
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 20px;
  margin-bottom: 40px;
}
.cost .track {
  position: absolute;
  display: block;
  width: 310px;
  height: 2px;

  background-color: rgba(255,255,255,0.5);
}
.cost .track-active {
  position: absolute;
  display: block;
  width: 255px;
  height: 2px;

  background-color: #FFF;
}
.cost .img-thumb {
  display: block;
  position: absolute;
  top: -11px;
  width: 21px;
  height: 21px;

  border: 9px solid #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
}
.cost .right {
  position: absolute;
  top: -11px;
  left: 250px;
}
.cost .filter-btn {
  padding: 6px 33px;
  margin-left: 84px;
  margin-top: 12px;
  margin-bottom: 31px;

  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family:  "PTSans","Arial", sans-serif;

  border: 2px solid #fff;
  background-color: transparent;
}
.sorting {
  padding-top: 30px;
  padding-bottom: 30px;
}
.sorting .number-of-found {
  margin-right: 43px;

  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family:  "PTSans","Arial", sans-serif;
  color: #000;
}
.sorting .name-sorting {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  font-family:  "PTSans","Arial", sans-serif;
  color: #000;
}
.sorting [class^="sorting-link"] {
  margin-left: 30px;

  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  font-family:  "PTSans","Arial", sans-serif;
  color: rgba(0,0,0,0.3);
  -webkit-text-decoration-color: #81b3d2;
          text-decoration-color: #81b3d2;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed;
}
.sorting [class^="sorting-link"].active {
  text-decoration: none;
  color: #81b3d2;
}
[class^="sorting-link"]:hover,
[class^="sorting-link"]:focus {
  text-decoration: none;
  color: #81b3d2;
}
[class^="sorting-link"]:active {
  text-decoration: none;
  color: #000;
}
.sorting [class^="blog"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.blog-name-sorting {
  width: 241px;
}
.sorting .blog-link-sorting {
  display: block;
  width: 576px;
  padding-left: 7px;
  padding-top: 3px;
}
.blog-point-sorting {
  width: 241px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sorting .point-increase,
.sorting .point-decrease {
  text-decoration: none;
  width: 20px;
}
.sorting .point-increase::before {
  display: block;
  content: "";
  width: 0px;
  height: 0px;

  border: 12px solid #cacaca;
  border-left-width: 6px;
  border-right-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: 0;
}
.sorting .point-decrease::before {
  display: block;
  content: "";
  width: 0px;
  height: 0px;

  border: 12px solid #81b3d2;
  border-left-width: 6px;
  border-right-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0;
}
.sorting .point-increase:hover::before,
.sorting .point-increase:focus::before {
  display: block;
  content: "";
  width: 0px;
  height: 0px;

  border: 12px solid #000;
  border-left-width: 6px;
  border-right-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: 0;
}
.sorting .point-decrease:hover::before,
.sorting .point-decrease:focus::before {
  display: block;
  content: "";
  width: 0px;
  height: 0px;

  border: 12px solid #000;
  border-left-width: 6px;
  border-right-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0;
}

.sorting .point-increase:active::before{
  display: block;
  content: "";
  width: 0px;
  height: 0px;

  border: 12px solid #81b3d2;
  border-left-width: 6px;
  border-right-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: 0;
}
.sorting .point-decrease:active::before {
  display: block;
  content: "";
  width: 0px;
  height: 0px;

  border: 12px solid #81b3d2;
  border-left-width: 6px;
  border-right-width: 6px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom: 0;
}
.hotels .list-hotels {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hotels .item-hotel {
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 31px;

  border-top: 1px solid #e5e5e5;
}
.hotels .img-hotel {
  width: 135px;
  margin-top: 3px;
  margin-right: 30px;
}
.hotels .description-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: auto;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family:  "PTSans","Arial", sans-serif;
  color: #000;
}
.hotels .rating-hotel {
  width: 241px;
}
.hotels .linck-name-hotel {
  text-decoration: none;
}
.hotels .name-hotel {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;

  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family:  "PTSans","Arial", sans-serif;
  color: #000;
}
.hotels .name-hotel:hover,
.hotels .name-hotel:focus {
  color: #81b3d2;
}
.hotels .name-hotel:active {
  color: rgba(0,0,0,0.3);
}
.hotels .characteristic-hotel {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}
.hotels .type-hotel {
  display: inline-block;
  width: 111px;
  vertical-align: middle;
}
.hotels .btn-hotel {
  margin: 0;
  padding: 0;
}
.hotels .detail-hotel,
.hotels .book-hotel {
  padding: 5px 16px;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  font-family:  "PTSans","Arial", sans-serif;
  color: #fff;

  background-color: #81b3d2;
}
.hotels .book-hotel {
  margin-left: 3px;
  background-color: #766357;
}
.hotels .detail-hotel:hover,
.hotels .detail-hotel:focus {
  background-color: #669ec0;
}
.hotels .detail-hotel:active {
  background-color: #5496bd;
  color: #85b0cd;
}
.hotels .book-hotel:hover,
.hotels .book-hotel:focus {
  background-color: #604e43;
}
.hotels .book-hotel:active {
  background-color: #503e33;
  color: #857871;
}
.hotels .points {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  text-align: right;
}
.hotels .points-rating {
  display: inline-block;
  width: 20px;
  height: 20px;

  vertical-align: middle;

  background-image: url("../img/star .svg");
  background-repeat: no-repeat;
}
.hotels .text-rating {
  display: block;
  padding-left: 13px;
  margin-left: 133px;

  color: #666666;
  font-weight: normal;

  background-color: #f2f2f2;
}
.footer-fix {
  position: static;
  border-top:  1px solid #e5e5e5;
}
